html, body, #root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    max-width: 200px;
    border: solid;
}

#display {
    font-size: 1.5em;
    width: 100%;
    text-align: right;
    border-bottom: solid;
}

#display h3 {
    margin: 0.5em;
    font-family: 'Orbitron'
}

.buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

#clear, #zero {
    grid-column: 1 / 3;
}

#equals {
    grid-column: 4;
    grid-row: 4 / 6;
}